### 1

### `5 Functions of the Pandas Library`

**1. read_csv()**

In [2]:
import pandas as pd
df=pd.read_csv(r"C:\Users\saina\OneDrive\Documents\Diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

**2. head()**

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**3. tail()**

In [4]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

**4. describe()**

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

**5. Series()**

In [8]:
l=[1,2,3,4,5]
l=pd.Series(l)
print(l)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 2

In [11]:
import pandas as pd
df=pd.DataFrame({
    'A':['Alice','Bob','Claire'],
    'B':[25,30,27],
    'C':['Female','Male','Female']
},index=[1,2,3])
df

        A   B       C
1   Alice  25  Female
2     Bob  30    Male
3  Claire  27  Female

### 3

In [203]:
import pandas as pd
df=pd.DataFrame({
    'Values':[10,20,30,40,50]
})
df

   Values
0      10
1      20
2      30
3      40
4      50

In [207]:
df['Values'].isin([30])

0    False
1    False
2     True
3    False
4    False
Name: Values, dtype: bool

In [24]:
def test(x):
    return x.sum()
df1=df.iloc[:3]
a=df1.apply(test,axis=0)
print(a)

Values    60
dtype: int64

### 4

In [29]:
import pandas as pd
def wordcount(df,k):
    df['Word_Count']=[len(i.split()) for i in df[k]]
    return df
df=pd.DataFrame({
    'Text':['Hii Hello','How are you','Data Science Masters Impact Batch','DataFrame to count no of words']
})
df=wordcount(df,'Text')
df

                                Text  Word_Count
0                          Hii Hello           2
1                        How are you           3
2  Data Science Masters Impact Batch           5
3     DataFrame to count no of words           6

### 5

**DataFrame.size:**

DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the number of columns.
It returns a single integer value.
For example, if you have a DataFrame with 3 rows and 4 columns, df.size will be equal to 12 (3 * 4).

**DataFrame.shape:**

DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
It provides two values: the number of rows and the number of columns in that order.
For example, if you have a DataFrame with 3 rows and 4 columns, df.shape will be equal to (3, 4).

### 6

read_excel() is a function of pandas which is used to read the excel file

### 7

In [31]:
import pandas as pd
def user_name(df,k):
    df['Username']=[i.split('@')[0] for i in df[k]]
    return df
df=pd.DataFrame({
    'Email':['tonystark@gmail.com','captainsteve@example.com','thorthunder123@domain.com']
})
df=user_name(df,'Email')
df

                       Email        Username
0        tonystark@gmail.com       tonystark
1   captainsteve@example.com    captainsteve
2  thorthunder123@domain.com  thorthunder123

### 8

In [176]:
import pandas as pd
def values(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
df=pd.DataFrame({
    'A':[10,3,6,7,2],
    'B':[1,33,45,3,6],
    'C':[10,20,30,40,50]
})
df1=values(df)
df1

    A  B   C
0  10  1  10
3   7  3  40

### 9

In [183]:
import pandas as pd
def mms(df):
    return df['A'].mean(),df['A'].median(),df['A'].std()
df=pd.DataFrame({
    'A':[10,3,6,7,2],
})
mean,median,stddev=mms(df)
print('mean=',mean,'median=',median,'standard deviation=',stddev)

mean= 5.6 median= 6.0 standard deviation= 3.2093613071762426

### 10

In [188]:
import pandas as pd

def moving_average(df, date, sales):
    df = df.sort_values(by=date)

    df['MovingAverage'] = df[sales].rolling(window=7, min_periods=1).mean()

    return df

data = {'Date': ['2023-09-01', '2023-09-02', '2023-09-03', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07'],
        'Sales': [10, 12, 15, 20, 18, 22, 25]}
df = pd.DataFrame(data)

df['Date'] = pd.to_datetime(df['Date'])

df = moving_average(df,'Date','Sales')

print(df)

        Date  Sales  MovingAverage
0 2023-09-01     10      10.000000
1 2023-09-02     12      11.000000
2 2023-09-03     15      12.333333
3 2023-09-04     20      14.250000
4 2023-09-05     18      15.000000
5 2023-09-06     22      16.166667
6 2023-09-07     25      17.428571

### 11

In [196]:
import pandas as pd
def day_date(df):
    df['WeekDays']=df['Date'].dt.day_name()
    return df
df=pd.DataFrame({
    'Date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']
})
df['Date'] = pd.to_datetime(df['Date'])
df=day_date(df)
df

        Date   WeekDays
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### 12

In [227]:
import pandas as pd
def timestamps(df):
    selected_rows = df[(df['Date'] >='2023-01-01') & (df['Date'] <='2023-01-31')]
    return selected_rows
df=pd.DataFrame({
    'Date':['2023-01-01','2023-02-02','2023-01-03','2023-01-04','2023-10-05']
})
timestamps(df)

         Date
0  2023-01-01
2  2023-01-03
3  2023-01-04

### 13

To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is `pandas`.

Ex: import pandas as pd