### 1

In [4]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_data = sorted(l, key=lambda x: x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

### 2

In [5]:
## squares using lambda,map functions
data=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda x:x**2,data)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 3

In [8]:
### list to tuple of strings
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(tuple(map(lambda x:str(x),lst)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

### 4

In [12]:
### product of numbers from 1 to 25 using reduce function
from functools import reduce
data=list(range(1,26))
print(reduce(lambda x,y:x*y,data))

15511210043330985984000000

### 5

In [15]:
### filter the numbers which are divisible by 2 and 3
lst=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
print(list(filter(lambda x:x%2==0 and x%3==0,lst)))

[6, 60, 90, 120]

### 6

In [17]:
### find palindromes using lambda and filter functions
data=['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda x:x==x[::-1],data)))

['php', 'aba', 'radar', 'level']